<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige todo al archivo index.php excepto los archivos existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

</IfModule>
